 @charset "UTF-8";
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 @font-face {
        font-family: 'idroid';
        src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid',cursive;

}

/*eso deja el margin y padding en 0, 
cuando pongo * selecciona todo tipo de tag!*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
}

p{
    margin:15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

img{
    width: 100%;
}

img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
        
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main a{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main a.externo::after{
    content: '\00A0\1F517';
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    
}

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.548);
}

header > p{
    font-family: var(--fonte-padrao);
    color: white;
    text-align: center;
    font-size: 1.2em;
    max-width: 500px;
    margin:auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

nav{
    padding: 10px;
    padding-top: 40px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);
}

nav>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

h1.fonte{
    font-family: 'idroid';
    color: rgb(3, 59, 24);
    
    
}

iframe{
    background-color: green;
    margin: auto;
}

h2#especial{
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
}

h2.fonte{
    font-family: 'idroid';
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0),transparent);
    text-indent: 8px;
}

section#final{
    background-color: rgb(192, 250, 192);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;

}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside ul{
    list-style-type:'\2714\00A0\00A0' ;
    list-style-position: inside;
    columns: 2;
    
}

footer{
    color: white;
    background-color: var(--cor5);
    padding: 5px;
}

footer p {
    text-align: center;
} 

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}